h1{
  text-align: center;
}

.chart{
  margin: 10px 50px;
}

p{
  margin-top: 20px;
  margin-bottom: 5px;
}

#submit{
  margin-top: 20px;
}

form{
  margin-left: 12px;
  /* border: 2px solid black; */
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-evenly;
  max-width: 600px;
  margin: auto;
}

div {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 10px 20px;
}

input{
  padding: 3px 3px;
  border-radius: 4px;
}

body{
  background-color: #cbc8cb;
  font-family: sans-serif;
  overflow-y: hidden;
}

#submit{
  background-color: teal;
  border: 1px solid teal;
  color: lightgoldenrodyellow;
  padding: 8px 50px;
  margin-top: 40px;
}

#submit:hover {
  background-color: turquoise;
}

section{
  offset: 50px;
  background-color: white;
  color: grey;
  border: 3px solid grey;
  width: 650px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.results{
  font-size: 18px;
  text-align: center;
}